.orderedItems
  .orderdItems__content
  .orderdItems__content__title
    ご注文履歴
  - if @order.count == 0
    .orderdItems__content__nothing
      ご注文履歴はございません
  - else
    %table.orderdItems__contentt__table{border: 2}
      %thead.orderdItems__content__table__head
        %tr.orderdItems__content__table__tr
          %th 購入日
          %th ご注文番号
          %th 状況
          %th ご購入製品
          %th 合計(税込)
      %tbody.orderdItems__content__table__body
        - @orders.each do |order|
          %tr.orderdItems__content__table__tr
            %td= order.created_at
            %td= order.id
            %td= order.status
            %td= link_to "#{order.order_details.product_id}", "order_details_path(@order_details)"
            %td= order.price
