.newOrder
  .newOrder__content
    .newOrder__content__title
      NEW ORDER

  - @line_items.each do |line_item|
    .newOrder__content__item
      = "製品名 : #{line_item.product.name}"
    .newOrder__content__price
      = "小計 : #{convertToJPY(line_item.product.price)}円"
    .newOrder__content__qty
      = "数量 : #{line_item.quantity}個"
  .newOrder__total
  = "合計: #{convertToJPY(@cart.total_price)}円"
