.cart
  .cart__content
    .cart__content__title
      YOUR SHOPPING CART
    - if @line_items.count == 0
      .cart__content__nothing
        No items here..
    - else
      .cart__content__options
        = link_to "カートを空にする", cart_path(@cart), method: :delete, data: { confirm: "カートの中身を全て削除してもいいですか?"}, class: "cart__content__options__link"
        = link_to "買い物を続ける", products_path, class: "cart__content__options__link"
      .cart__content__message
      %table.cart__content__table{border: 2}
        %thead.cart__content__table__head
          %tr.cart__content__table__tr
            %th &nbsp;
            %th アイテム
            %th 価格
            %th 数量
            %th 小計
            %th &nbsp;
        %tbody.cart__content__table__body
          - @line_items.each do |line_item|
            %tr.cart__content__table__tr
              %td= image_tag line_item.product.image, width: 120, height: 120
              %td= line_item.product.namejap
              %td= "¥#{convertToJPY(line_item.product.price)}"
              %td
                %table.itemQuantity
                  = form_with url: line_item_path(line_item), method: :patch, local: true do |f|
                    %tbody
                      %tr
                        %td= f.number_field :quantity ,placeholder: "#{line_item.quantity}", value: "#{line_item.quantity}", min: 1, max: line_item.product.stock_quantity
                        %td= f.submit "変更"
              %td= "¥#{convertToJPY(line_item.total_price)}"
              %td= button_to '削除', line_item_path(line_item), method: :delete, data: { confirm: '削除しますか?' }
      .cart__content__total
        = "合計 : ¥#{convertToJPY(@cart.total_price)}"
      .cart__content__order
        = link_to "レジに進む", new_order_path, class: "cart__content__order__btn"