.myPage
  .myPage__content
    .myPage__content__title
      MY PAGE
    .myPage__content__box
      .myPage__content__box__left
        %ul.myPage__content__box__left__menu
          %li.myPage__content__box__left__menu__list
            = link_to "MY PAGE トップ", user_path(@user.id)
          %li.myPage__content__box__left__menu__list
            = link_to "注文履歴", "#"
          %li.myPage__content__box__left__menu__list
            = link_to "送付先住所", addresses_path
          %li.myPage__content__box__left__menu__list
            = link_to "支払方法", new_card_path
          %li.myPage__content__box__left__menu__list
            = link_to "アカウント詳細", edit_user_registration_path
          %li.myPage__content__box__left__menu__list
            = link_to "ログアウト", user_registration_path, method: :delete
      .myPage__content__box__right
        .addressForm
          .addressForm__content
            .addressForm__content__title
              住所情報登録
            = form_with model: @address, id: 'new_sending_destination',local: true, class: "h-adr" do |f|
              %span.p-country-name{style: "display:none;"} Japan
              -# = render "devise/shared/error_messages", resource: @address
              .addressCategory
                .addressForm__content__name.flex
                  = f.label :"送付先氏名(全角)", id: "label"
                  .must_check 必須
                .flex.fieldForm
                  = f.text_field :destination_family_name, autofocus: true, placeholder: " 例）佐藤", class: "addressForm__content__name__fa"
                  = f.text_field :destination_first_name, autofocus: true, placeholder: " 例）三郎", class: "addressForm__content__name__fi", id: "text_field"
              .addressCategory
                .addressForm__content__namekana.flex
                  = f.label :"送付先氏名かな(全角)", id: "label"
                  .must_check 必須
                .flex.fieldForm
                  = f.text_field :destination_family_name_kana, autofocus: true, placeholder: " 例）さとう", class: "addressForm__content__namekana__fa"
                  = f.text_field :destination_first_name_kana, autofocus: true, placeholder: " 例）さぶろう", class: "addressForm__content__namekana__fi", id: "text_field"
              .addressCategory
                .addressForm__content__post.flex
                  = f.label :郵便番号, id: "label"
                  .must_check 必須
                .addressForm__content__postField.fieldForm
                  = f.text_field :postcode, autofocus: true, placeholder: " 自動入力", class: "addressForm__content__post__input p-postal-code", size: 7, maxlength: 7
              .addressCategory
                .addressForm__content__prefecture.flex
                  = f.label :都道府県, id: "label"
                  .must_check 必須
                .addressForm__content__prefectureField.fieldForm
                  = f.text_field :prefecture_code, class: "addressForm__content__prefecture__input p-region"
              .addressCategory
                .addressForm__content__city.flex
                  = f.label :市区町村, id: "label"
                  .must_check 必須
                .addressForm__content__cityField.fieldForm
                  = f.text_field :address_city, autofocus: true, class: "addressForm__content__city__input p-locality"
              .addressCategory
                .addressForm__content__street.flex
                  = f.label :番地, id: "label"
                  .must_check 必須
                .addressForm__content__streetField.fieldForm
                  = f.text_field :address_street, autofocus: true, placeholder: " 番地", class: "addressForm__content__street__input p-street-address"
              .addressCategory
                .addressForm__content__building.flex
                  = f.label :建物, id: "label"
                  %span 任意
                .addressForm__content__buildingField.fieldForm
                  = f.text_field :address_building, autofocus: true, placeholder: " 例）マンション名など", class: "addressForm__content__building__input p-extended-address"
              .addressCategory
                .addressForm__content__telnum.flex
                  = f.label :電話番号, id: "label"
                  %span 任意
                .addressForm__content__telnumField.fieldForm
                  = f.text_field :phone_number, autofocus: true, placeholder: " 例）09012345678", class: "addressForm__content__telnum"
              .addressCategory
                .addressForm__content__submit.fieldForm
                  = f.submit "登録する", class: "addressForm__content__submit__btn" 