= render layout: "users/show", locals: { address: @address} do
  .addressIndex
    .addressIndex__content
      .addressIndex__content__title
        送付先住所
      .addressIndex__content__details
      - if @address.present?
        .addressIndex__content__details__postCode
          = "〒 #{@address.postcode}"
        .addressIndex__content__details__address
          = @address.prefecture_code.to_s + @address.address_city + @address.address_street + @address.address_building
        .addressIndex__content__details__receiver
          = @address.destination_family_name + @address.destination_first_name
        .addressIndex__content__edit
          .addressIndex__content__edit__modify
            = link_to "修正する", edit_address_path(@address.id)
          .addressIndex__content__edit__delete
            = link_to "削除する", address_path(@address.id), method: :delete
      - else
        .addressIndex__content__nothing
          = link_to "登録する", new_address_path, data: {"turbolinks"=>false}, class: "addressIndex__content__nothing__btn"
