.main
  .main__top-img
  .main__concept
    .main__concept__title
      Idea of Smells Tokyo
      .main__concept__title__description
        世の中はたくさんの香りであふれています。
        %br
        %br
        香りは気分を変えてくれたり、リラックスさせてくれたりと生活を豊かにしてくれるものの1つです。
        %br
        %br
        心理学的には人の印象を決定づける一番の要因が香りと言われています。
        %br
        %br
        ところで、皆様は普段から香水を使用しますか？
        %br
        %br
        香水はつける場所や香りによって印象を変えることができます。
        %br
        %br
        ひとつの香水には平均して50〜200種類もの香料が含まれており、更にそれらの香料はまた何百という香りを構成する成分からなっています。
        %br
        %br
        時折、この香水って自分にあってるの？とか、おすすめの香水を教えて欲しいな、って思うことありませんか？
        %br
        %br
        このサイトはそういったお悩みの手助けとなるべく開設しました。
        %br
        %br
        この機会に是非、お気に入りの香水を見つけいきませんか。
  .main__link-index
    = link_to products_path, class: "main__link-index__link" do
      SELECT
  .main__items
    .main__items__new
      NEW ITEM
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          = image_tag 'https://cdn.celes-perfume.com/wp-content/uploads/2019/02/the-one-min-1.jpg', alt: 'swipe01', width: 250, height: 250
        .swiper-slide
          = image_tag 'https://cdn.celes-perfume.com/wp-content/uploads/2018/02/annick-goutal-il-au-the-min-2.jpg', alt: 'swipe02',  width: 250, height: 250
        .swiper-slide
          = image_tag 'https://cdn.celes-perfume.com/wp-content/uploads/2018/02/acqua-di-parma-arancia-di-capri-min.jpg', alt: 'swipe03',  width: 250, height: 250
        .swiper-slide
          = image_tag 'https://cdn.celes-perfume.com/wp-content/uploads/2020/02/bleu-de-chanel-min-1024x784.png', alt: 'swipe04',  width: 250, height: 250
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
      .swiper-scrollbar