.index-contents
  .index-contents__selectTab
    = form_with(url: searchFromPulldownsForm_products_path, class: "formFromIndex", local: true, method: :get) do |f|
      %ul.index-contents__selectTab__selectCategory
        %li.index-contents__selectTab__selectCategory__list
          .index-contents__selectTab__selectCategory__list__description
            ブランドを選択してください
          .index-contents__selectTab__selectCategory__list__tag
            = f.select :brand_id, Brand.all.map { |brand| [brand.name, brand.id] }, include_blank: true,class:"index-contents__selectTab__selectCategory__list__tag__select"
        %li.index-contents__selectTab__selectCategory__list
          .index-contents__selectTab__selectCategory__list__description
            性別を選択してください
          .index-contents__selectTab__selectCategory__list__tag
            = f.select :sex_id, Sex.all.map { |sex| [sex.name, sex.id] }, include_blank: true,class:"index-contents__selectTab__selectCategory__list__tag__select"
        %li.index-contents__selectTab__selectCategory__list
          .index-contents__selectTab__selectCategory__list__description
            香りのタイプを選択してください
          .index-contents__selectTab__selectCategory__list__tag
            = f.select :smell_type_id, SmellType.all.map { |smell_type| [smell_type.name, smell_type.id] }, include_blank: true,class:"index-contents__selectTab__selectCategory__list__tag__select"
      %ul.index-contents__selectTab__selectCategory
        %li.index-contents__selectTab__selectCategory__list
          .index-contents__selectTab__selectCategory__list__description
            メインの香りを選択してください
          .index-contents__selectTab__selectCategory__list__tag
            = f.select :main_spice_id, MainSpice.all.map { |main_spice| [main_spice.name, main_spice.id] }, include_blank: true,class:"index-contents__selectTab__selectCategory__list__tag__select"
        %li.index-contents__selectTab__selectCategory__list
          .index-contents__selectTab__selectCategory__list__description
            持たせたい印象を選択してください
          .index-contents__selectTab__selectCategory__list__tag
            = f.select :smell_impression_id, SmellImpression.all.map { |smell_impression| [smell_impression.name, smell_impression.id] }, include_blank: true,class:"index-contents__selectTab__selectCategory__list__tag__select"
        %li.index-contents__selectTab__selectCategory__list
          .index-contents__selectTab__selectCategory__list__description
            使用場面を選択してください
          .index-contents__selectTab__selectCategory__list__tag
            = f.select :use_scene_id, UseScene.all.map { |use_scene| [use_scene.name, use_scene.id] }, include_blank: true,class:"index-contents__selectTab__selectCategory__list__tag__select"
      .index-contents__selectTab__selectBtn
        = button_tag "絞り込む", class:"index-contents__selectTab__selectBtn__btn"
  .index-contents__topicPath
    -# home > index
  .index-contents__amountProducts
    = "#{@products.length}件"
  .index-contents__main
    .index-contents__main__categoryList
      %ul.index-contents__main__categoryList__innerList
        - @products.each do |product|
          %li.index-contents__main__categoryList__innerList__innerBox
            .index-contents__main__categoryList__innerList__innerBox__image
              = link_to product_path(product.id), class: "index-contents__main__categoryList__innerList__innerBox__image__link", data: {"turbolinks" => false} do
                = image_tag product.image, width: 310, height: 280
            .index-contents__main__categoryList__innerList__innerBox__detail
              = link_to product_path(product.id), class: "index-contents__main__categoryList__innerList__innerBox__detail__name", data: {"turbolinks" => false} do
                = product.name