.showMain
  .showMain__Boxes
    .showMain__Boxes__leftBox
      = image_tag @product.image, width: 450, height: 450, class: "showMain__Boxes__leftBox__image"
    .showMain__Boxes__rightBox
      .showMain__Boxes__rightBox__name
        = @product.name
      .showMain__Boxes__rightBox__description
        = @product.description
      .showMain__Boxes__rightBox__orderQuantity
      .showMain__Boxes__rightBox__line
        .showMain__Boxes__rightBox__line__price
          = @product.price
        .showMain__Boxes__rightBox__line__fav
      .showMain__Boxes__rightBox__addCart
  .showMain__suggest
    .showMain__suggest__items
      WE ALSO SUGGEST YOU
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          = image_tag 'https://cdn.celes-perfume.com/wp-content/uploads/2019/02/the-one-min-1.jpg', alt: 'swipe01', width: 300, height: 300
        .swiper-slide
          = image_tag 'https://cdn.celes-perfume.com/wp-content/uploads/2018/02/annick-goutal-il-au-the-min-2.jpg', alt: 'swipe02', width: 300, height: 300
        .swiper-slide
          = image_tag 'https://cdn.celes-perfume.com/wp-content/uploads/2018/02/acqua-di-parma-arancia-di-capri-min.jpg', alt: 'swipe03', width: 300, height: 300
        .swiper-slide
          = image_tag 'https://cdn.celes-perfume.com/wp-content/uploads/2020/02/bleu-de-chanel-min-1024x784.png', alt: 'swipe04', width: 300, height: 300
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
      .swiper-scrollbar
  .comments
    .comments__name
      = "レビュー(#{@product.comments.length})"
    - if @comments
      - @comments.each do |comment|
        .comments__content
          .comments__content__postTime
            = comment.created_at.strftime("%Y年%-m月%-d日")
          .comments__content__nickName
            = comment.user.nickname
          %div{id: "star-rate-#{comment.id}"}
          :javascript
            $('#star-rate-#{comment.id}').raty({
              size: 36,
              starOff: "#{asset_path('star-off.png')}",
              starOn: "#{asset_path('star-on.png')}",
              starHalf: "#{asset_path('star-half.png')}",
              half: true,
              readOnly: true,
              score: "#{comment[:rate]}"
            });
          .comments__content__text
            = simple_format(comment.text)
  .commentForm
    - if current_user
      = form_for [@product, @comment] do |f|
        = f.hidden_field :product_id, value: @product.id
        #star.commentForm__rate
          = f.hidden_field :rate, id: :review_star
        :javascript
          $('#star').raty({
            size     : 36,
            starOff: "#{asset_path('star-off.png')}",
            starOn: "#{asset_path('star-on.png')}",
            starHalf: "#{asset_path('star-half.png')}",
            scoreName: 'comment[rate]',
            half: true,
          });
        .commentForm__text
          = f.text_area :text, class: "commentForm__text__area", rows: "5", placeholder: "レビュー"
        .commentForm__submit
          = f.submit '投稿', class:"commentForm__submit__btn"
    - else
      %p レビューの投稿には新規登録/ログインが必要です




