.showMain
  .showMain__Boxes
    .showMain__Boxes__leftBox
      = image_tag @product.image, width: 450, height: 450, class: "showMain__Boxes__leftBox__image"
    .showMain__Boxes__rightBox
      = form_with url: add_item_carts_path, local: true do |f|
        .showMain__Boxes__rightBox__name
          = @product.name
        .showMain__Boxes__rightBox__namejap
          = @product.namejap
        .showMain__Boxes__rightBox__description
          = @product.description
        .showMain__Boxes__rightBox__orderQuantity
          = f.label :quantity, "数量", class: "showMain__Boxes__rightBox__orderQuantity__title"
          = f.select :quantity, stock_array_maker(@stock), {include_blank: "選択してください"}, {class: "showMain__Boxes__rightBox__orderQuantity__form"} 
        .showMain__Boxes__rightBox__line
          .showMain__Boxes__rightBox__line__price
            = "本体価格 : ¥#{convertToJPY(@product.price)}"
          .showMain__Boxes__rightBox__line__fav
            - if user_signed_in? && current_user
              - if @product.bookmark_by?(current_user)
                = link_to product_bookmark_path(@product.id), class: "showMain__Boxes__rightBox__line__fav__btn.fav", method: :delete, remote: true do
                  %i.fas.fa-star.star
              - else
                = link_to product_bookmarks_path(@product.id), class: "showMain__Boxes__rightBox__line__fav__btn.fav", method: :post, remote: true do
                  %i.far.fa-star.star-o (お気に入りに追加)
        .showMain__Boxes__rightBox__line
        .showMain__Boxes__rightBox__addCart
          = f.hidden_field :product_id, value: @product.id
          = f.hidden_field :cart_id, value: @cart.id
          = f.submit "Add to Cart", {class: "showMain__Boxes__rightBox__addCart__btn"}
  .showMain__suggest
    .showMain__suggest__items
      WE ALSO SUGGEST YOU
    .showMain__suggest__contents
      %ul.showMain__suggest__contents__box
        - @related_products.each do |product|
          %li.showMain__suggest__contents__box__each
            = link_to product_path(product.id), class: "showMain__suggest__contents__box__each__link", data: {"turbolinks" => false} do
              = image_tag product.image, width: 260, height: 260
  .comments
    .comments__title
      = "レビュー(#{@product.comments.length})"
    - if @comments
      - @comments.each do |comment|
        .comments__each
          .comments__each__postTime
            = comment.created_at.strftime("%B %d, %Y")
          .comments__each__content
            .comments__each__content__nickName
              = "投稿者 : #{comment.user.nickname}"
            %div{id: "star-rate-#{comment.id}"}
            :javascript
              $('#star-rate-#{comment.id}').raty({
                size: 36,
                starOff: "#{asset_path('star-off.png')}",
                starOn: "#{asset_path('star-on.png')}",
                starHalf: "#{asset_path('star-half.png')}",
                half: true,
                readOnly: true,
                score: "#{comment[:rate]}"
              });
          .comments__each__text
            = simple_format(comment.text)
  .commentForm
    .commentForm__title
      レビュー投稿
    - if current_user
      = form_for [@product, @comment] do |f|
        = render 'layouts/error_messages', model: f.object
        = f.hidden_field :product_id, value: @product.id
        #star.commentForm__rate
          = f.hidden_field :rate, id: :review_star
        :javascript
          $('#star').raty({
            size     : 36,
            starOff: "#{asset_path('star-off.png')}",
            starOn: "#{asset_path('star-on.png')}",
            starHalf: "#{asset_path('star-half.png')}",
            scoreName: 'comment[rate]',
            half: true,
          });
        .commentForm__text
          = f.text_area :text, class: "commentForm__text__area", placeholder: "レビュー", size: "80x4"
        .commentForm__submit
          = f.submit '投稿', class:"commentForm__submit__btn"
    - else
      %p レビューの投稿には新規登録/ログインが必要です