!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0"}/
    %title Smellstokyo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:href => "https://unpkg.com/swiper/css/swiper.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/notifications'
    .header
      .header__top
        %ul.header__top__nav
          %li.header__top__nav__search
            = form_with(url: products_searches_path, local: true, method: :get) do |f|
              = f.text_field :keyword, class: "header__top__nav__search__box", placeholder: "search"
              = button_tag type: "submit", class: "header__top__nav__search__btn" do
                %i.fas.fa-search
          %li.header__top__nav__account
            = link_to new_user_session_path, class: "header__top__nav__account__link" do
              my account
              %i.fas.fa-user
          %li.header__top__nav__cart
            = link_to root_path, class: "header__top__nav__cart__link" do
              view cart
              %i.fas.fa-shopping-cart
      .header__middle
        .header__middle__site-name
          = link_to root_path, class: "header__middle__site-name__link", data: {"turbolinks" => false} do
            Smells Tokyo
      .header__bottom
        %ul.header__bottom__nav
          %li.header__bottom__nav__category
            = link_to "#", class: "header__bottom__nav__category__women" do
              WOMEN
          %li.header__bottom__nav__category
            = link_to "#", class: "header__bottom__nav__category__men" do
              MEN
          %li.header__bottom__nav__category
            = link_to products_path, class: "header__bottom__nav__category__select" do
              SELECT
          %li.header__bottom__nav__category
            = link_to "#", class: "header__bottom__nav__category__news" do
              NEWS
    = yield
    .footer
      - if user_signed_in?
        %ul.footer__menu
          %li.footer__menu__list
            = link_to "ログアウト", destroy_user_session_path, class: "footer__menu__list", method: :delete 
          %li.footer__menu__list
            = link_to "カート確認", "#", class: "footer__menu__list"
          %li.footer__menu__list
            = link_to "会員情報修正", edit_user_registration_path, class: "footer__menu__list"
      - else
        %ul.footer__menu
          %li.footer__menu__list
            = link_to "ログイン", new_user_session_path, class: "footer__menu__list"
          %li.footer__menu__list
            = link_to "新規登録", new_user_registration_path, class: "footer__menu__list"
    %script{:src => "https://unpkg.com/swiper/js/swiper.min.js"}



