!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0"}/
    %title Smellstokyo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/css/swiper.css'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.js'
  %body
    .header
      .header__top
        %ul.header__top__nav
          %li.header__top__nav__search
            = form_with model: @product, local: true do |f|
              = f.text_field :keyword, class: "header__top__nav__search__box", placeholder: "search"
              = button_tag type: "submit", class: "header__top__nav__search__btn" do
                %i.fas.fa-search
          %li.header__top__nav__account
            = link_to root_path, class: "header__top__nav__account__link" do
              my account
              %i.fas.fa-user
          %li.header__top__nav__cart
            = link_to root_path, class: "header__top__nav__cart__link" do
              view cart
              %i.fas.fa-shopping-cart
      .header__middle
        .header__middle__site-name
          = link_to root_path class: "header__middle__site-name__link" do
            Smells Tokyo
      .header__bottom
        %ul.header__bottom__nav
          %li.header__bottom__nav__category
            = link_to root_path, class: "header__bottom__nav__category__women" do
              WOMEN
          %li.header__bottom__nav__category
            = link_to root_path, class: "header__bottom__nav__category__men" do
              MEN
          %li.header__bottom__nav__category
            = link_to products_path, class: "header__bottom__nav__category__select" do
              SELECT
          %li.header__bottom__nav__category
            = link_to root_path, class: "header__bottom__nav__category__news" do
              NEWS
    = yield
    
    .footer


